/* Google Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #dbeafe, #f8fafc);
    min-height: 100vh;
    color: #1f2937;
}

.container {
    width: 95%;
    max-width: 1400px;
    margin: 30px auto;
}